# Your Discord API Token
DISCORD_TOKEN = '<Discord_API_Token>'

# Whether to auto-delete messages
TIDY = False

# A comma separated list of server roles which are banned from claiming raffle tickets
BANNED_ROLES = 'Roffle Admin,DJ'

# Limit of how many commands can be called in a rolling time period 
COOLDOWN_LIMIT = 3
COOLDOWN_TIME = 60

# A comma seperated list of server roles which are allowed to run admin commands
ADMIN_ROLES = 'Roffle Admin,Discord Admin'
